html, body {
  max-width: 100vw;
  width: 100%;
  background: #eec;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-family: "IBM Plex Serif", times;
}

/* Header */

header {
  background: #eec;
  padding: 1rem 0;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > nav {
  float: right;
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  height: 10vh; 
  margin: 1rem;
  transform: skew(0, -20deg);
  font-weight: bold;
  text-shadow: 1rem 0.4rem 0.1rem tomato;
  font-size: 4rem;
}

.login-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  color: #111;
  float: right;
}

.logout-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  color: #111;
  float: right;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  color: #111;
}

/* Body */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  border-bottom: 0.1rem solid;
}

.api-title {
  z-index: 0;
  font-size: 1rem;
  font-weight: 600;
}

.api-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.api-img {
  width: 100%;
}

.api-card-wrapper {
  background: #bfa4b3;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  max-width: 95vw;
  border-radius: 3px;
}

.api-img-wrapper {
  width: 100%;
  margin: 0 0;
  flex: 0 1 50vw;
  z-index: 1;
}

.api-caption {
  text-align: justify;
  position: relative;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem;
  flex: 0 1 20vh;
  border-radius: 50%;
  z-index: 10;
}

.blur {
  background: linear-gradient(60deg, palegreen, #bfa4b3, skyblue);
  max-width: 100%;
  width: 30rem;
  height: 20rem;
  position: absolute;
  bottom: 3rem;
  filter: blur(3rem);
  border-radius: 50%;
  transform: skew(0, -20deg);
}

.planet-form {
  background: #bfa4b3;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 3px;
  align-items: center;
}

.planet-input {
  background: #bfa4b3;
  border: none;
  border-bottom: solid #8a5673 0.2rem;
  margin-left: 0.5rem;
}

.planet-button {
  background: #8a5673;
  color: #eec;
  font-weight: 600;
  width: 33vw;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  border: none;
}

.planet-input-label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.post-footer {
  color: #333;
  font-weight: 100;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-copy {
  padding-right: 1rem;
}

.post-date {
  padding-left: 1rem;
}

/* small screen */
@media (max-width: 600px) {
  .api-card-wrapper {
    background: tomato;
  }

  .planet-form {
    background: tomato;
  }

  .planet-input {
    background: tomato;
  }
}
